//----Reset-----//
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
//--------------------//


:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}




body {
  font: 400 1rem 'DM Sans', sans-serif;
  color:var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 1.5rem;
  }

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;  
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

//-----Menu-----
header {
  border-bottom: 1px solid hsla(0, 0%, 89%, 1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);

  nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font: 700 1.31rem 'Poppins', sans-serif;
      color: var(--title-color);
      
      span {
        color: var(--base-color);
      }
    }

    .menu {
      opacity: 0;
      visibility: hidden;
    }
  }

  nav.show {
    .menu{
      opacity: 1;
      visibility: visible;

      background-color: var(--body-color);
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;

      display: grid;
      place-content: center;
    }

    ul {
      gap: 4rem;
      
      li {
        text-align: center;
      }
    }
  }
}

//-----Home-----
.section {
  padding: 5rem 0;
}

.border-radius {
  border-radius: 0.25rem;
}

main {
  margin-top: calc(var(--header-height) + 2rem);

  .home{
    overflow: hidden;

    .container{
      margin: 0;
      
       .image {
         position: relative;

          img{
            position: relative;
            right: 2.93rem;
            @extend .border-radius;
          }
       }

       .image::before{
         content: "";
         height: 100%;
         width: 100%;
         background: var(--base-color-second);
         position: absolute;
         top:-16.8%;
         left: 16.7%;
         z-index: 0;
         @extend .border-radius;
       }

       .text{
        margin: 0 1.5rem;
        text-align: center;

        p {
          margin-bottom: 2rem;
        }
    
        .button {
          background-color: var(--base-color);
          color: var(--text-color-light);
          height: 3.5rem;
          display: inline-flex;
          align-items: center;
          padding: 0 2rem;
          border-radius: 0.25rem;
          font: 500 1rem "DM Sans", sans-serif;
          transition: background 0.3s;
        }
    
        .button:hover{
          background: var(--base-color-alt) ;
        }
      }
    }
  }

  .divider-1{
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 36%, 57%, 1) 0%,
      hsla(var(--hue), 65%, 88%, 0.34) 100%
    );
  }
}