//----Reset-----//
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

//--------------------//

:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

//--------Mixin------------//
@mixin toggle-visibility($visibility, $opacity) {
  visibility: $visibility;
  opacity: $opacity;
}

@mixin color-logo($primary, $secondary) {
  .logo {
    font: 700 1.31rem var(--title-font), sans-serif;
    color: $primary;
    
    span {
      color: $secondary;
    }
  }
}

.box-shadow{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.size-margin-icon {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

//--------Sets-------------//

body {
  font: 400 1rem var(--body-font), sans-serif;
  color:var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 1.5rem;
  }

.title {
  font: 700 var(--title-font-size) var(--title-font), sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;  
  margin-bottom: 1rem;
}

.subtitle {
  font-size: var(--subtitle-font-size);
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  header {
    strong{
      color: var(--base-color);
    }
  }
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font), sans-serif;
  transition: background 0.3s;
}

.button:hover{
  background: var(--base-color-alt) ;
}

html {
  scroll-behavior: smooth;
}


//----------------Menu---------------------//
.header {
  border-bottom: 1px solid hsla(0, 0%, 89%, 1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);

  nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include color-logo(var(--title-color), var(--base-color));
    
    .menu {
      @include toggle-visibility(hidden, 0);
      top: -20rem;
      transition: 0.2s;

      ul {
        display: none;
      }
    }

    ul {
      li {
        a{
          transition: color 0.3s;
          position: relative;
        }

        a:hover{
          color: var(--base-color);
        }

        a::after{
          content: "";
          width: 0%;
          height: 2px;
          background-color: var(--base-color);

          position: absolute;
          left: 0;
          bottom: -1.5rem;

          transition: width 0.3s;
        }
        
        a:hover::after{
          width: 100%;
        }
        
      }
    }

    /* toggle menu */
    .icon-close {
      @include toggle-visibility(hidden, 0);
      position: absolute;
      right: 1.5rem;

      top: -1.5rem;
      transition: 0.2s;
    }

    .toggle {
      color: var(--base-color);
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  nav.show {
    .menu{
      @include toggle-visibility(visible, 1);

      background-color: var(--body-color);
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;

      display: grid;
      place-content: center;
    }

    ul {
      gap: 4rem;
      display: grid;
      
      li {
        text-align: center;
      }
    }

     /* toggle menu */
    .icon-close {
      @include toggle-visibility(visible, 1);
      top: 1.5rem;
    }
  }
}

.header.scroll{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}


.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.border-radius {
  border-radius: 0.25rem;
}

main {
  //margin-top: calc(var(--header-height) + 2rem);

  .home{
    overflow: hidden;

    .container{
      margin: 0;
      
       .image {
         position: relative;

          img{
            position: relative;
            right: 2.93rem;
            @extend .border-radius;
          }
       }

       .image::before{
         content: "";
         height: 100%;
         width: 100%;
         background: var(--base-color-second);
         position: absolute;
         top:-16.8%;
         left: 16.7%;
         z-index: 0;
         @extend .border-radius;
       }

       .text{
        margin: 0 1.5rem;
        text-align: center;

        p {
          margin-bottom: 2rem;
        }
  
      }
    }
  }

  .divider-1{
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34)
    );
  }

  .divider-2{
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      hsla(var(--hue), 36%, 57%, 1) 
    );
  }

  //--------About------------------
  .about{
    background-color: white;
    .container{
      margin: 0;
      
       .image {
         position: relative;

          img{
            position: relative;
          }
       }

       .image::before{
         content: "";
         height: 100%;
         width: 100%;
         background: var(--base-color-second);
         position: absolute;
         top:-8.3%;
         left: -33%;
         z-index: 0;
         @extend .border-radius;
       }

       .text{
        margin: 0 1.5rem;

        p {
          margin-bottom: 2rem;
        }
      }
    }
  }

  //------- Services-------
  .services{
    header {
      //position: relative;
      margin-bottom: 4rem;
    }
    
    .card {
      padding: 3.625rem 2rem;
      @extend .box-shadow;
      border-bottom: 0.25rem solid var(--base-color);
      border-radius: 0.25rem 0.25rem 0 0;
      text-align: center;

      i {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 5rem;
        color: var(--base-color);
      }

      .title{
        font-size: 1.5rem;
        margin-bottom:0.75rem
      }
    }
  }

  //------- Testimonials-------
  .testimonials {
    background: white; 
    
    blockquote {
      padding: 2rem;
      border-radius: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0.08);
      
      p {
        position: relative;
        text-indent: 1.7rem;
        margin-bottom: 1.5rem;
        color: var(--title-color);

        span{
          font: 700 2.5rem serif;
          position: absolute;
          top: -0.35rem;
          left: -1.7rem;
          color: var(--base-color);
        }
      }

      cite {
        display: flex;
        align-items: center;
        font-style: normal;

        img{
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          clip-path: circle();
          margin-right: 0.5rem;
        }
      }
    }

    .swiper-pagination-bullet-active {
      background: var(--base-color);
    }
  }

  //------- Testimonials -------
  .contact {
    .text {
      p {
        margin-bottom: 2rem;
      }

      .button, ul li{
        i {
          @extend .size-margin-icon;
        }
      }
    }

    .links ul li {
      display: flex;
      align-items: center;

      i{
        @extend .size-margin-icon;
        color: var(--base-color);
      }
    }
  }
}

 //------- Footer -------
footer.section {
  background: var(--base-color);
  @include color-logo(var(--title-color), var(--body-color));
  padding: 4rem 0;

  .brand {
    .logo{
      display: inline-block;
      margin-bottom: 1.5rem;
    }

    p {
      color: var(--text-color-light);
      margin-bottom: 0.75rem;
    }
  }

  .social {
    a {
      font-size: 1.5rem;
      color: var(--text-color-light);
      margin-right: 2rem;
      transition: 0.3s;
      display: inline-block;
    }

    a:hover {
      transform: translateY(-8px);
    }
  }
}

.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  bottom: 1rem;
  right: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  z-index: 1;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

<<<<<<< HEAD
/*=========== MEDIA QUERIES =============*/
/* extra large devices: 1200 > */
/* large devices: 1023 > */
/* large devices: 992 > */ 
/* medium devices: 767 > */ 

@media (min-width: 992px) {
  
}
=======
/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px){
  main {
    margin-top: calc(var(--header-height) + 2rem);
  }

  .section {
    padding: 10rem 0;
  }

  .header{
    nav{
      .menu {
        @include toggle-visibility(visible, 1);
        top: 0;
    
        ul {
          display: flex;
          gap: 2rem;

          .title {
            font: 400 1rem var(--body-font);
          }
        }
      }

      .icon-menu {
        display: none;
      }
    }
  }
}
/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px){
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

/* medium devices: 767 > */
>>>>>>> f3a802b9b5c0f3dd0684ed5cc3672caf3ed794b2
